<% include ../partials/header %>



<div class="container">

    
<table>
            <tr>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>CITY</th>
                    <th>D.LICENSE</th>
                    <th>BLOCK/Unblock</th>
                   
            </tr>
        <% users.forEach(function(user) {  %>
                   
            <%  if( user.usertype == "user"){ %>
            <tr>
                <td><%= user.fname %> <%= user.lname %></td>
                <td><%= user.phone %></td>
                <td><%= user.city %></td>
                <td><%= user.license %></td>
                <td> <a class="btn btn-primary btn-md" href="/admin/block/<%= user._id %>">
                    <% if(user.blocked == false){ %>
                            BlockUser
                    <% }else{ %>
                            Unblock
                    <%  }   %>
                    </a>
                </td>
            </tr>
        
            <% }%>

         <% }) %>   

        
        </table>           

</div>  
    

<% include ../partials/footer %>