<% include ../partials/header %>

<div class="container carblock">
            <div class = "row text-center carrow" style="display:flex; flex-wrap: wrap;" >
                <h2>Your Booked Car is as :</h2>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 cl-md-4 col-sm-4">
                            <img class="img-responsive image" src="<%= car.image %>">
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 details">
                            <p class> <%= car.name %></p>
                            <p> Rs. <%= car.rate %></p>
                            <p> <%= car.number %></p>
                            <p> <%= car.city %></p>
                        </div>
                    </div>                 
            </div>

            <a href="/user/dashboard" class="btn btn-primary btn-lg">Go back to Dashboard</a>
    </div>

<% include ../partials/footer %>